
#home {
    display: flex;
}
#home-left {
    width: 30vw;
    max-width: 450px;
    opacity: 100%;
    /* animation: hideLeft 2s ease-in var(--homeLeftDelayTime) 1 normal forwards; */
    transition: width 1s, opacity 1s;
}
#home-right {
    width: 45vw;
    max-width: 800px;
    padding-top: 5vh;
    /*animation: expandRight 2s ease-in var(--homeLeftDelayTime) 1 normal forwards;*/
}
#large-screen {
    display: none;
    flex-direction: column;
    width: fit-content;
    padding-left: 20px;
    position: absolute;
    top: 5vh;
    left: 1240px;
    justify-content: center;
    align-items: center;
}


#name-sentence {
    opacity: 0;
    animation: displayText 5s ease-in var(--nameDelayTime) 1 normal forwards;
}
#nick-name-sentence {
    opacity: 0;
    animation: displayText 5s ease-in var(--nickNameDelayTime) 1 normal forwards;
}
#title-sentence {
    opacity: 0;
    animation: displayText 5s ease-in var(--titleDelayTime) 1 normal forwards;
}
#portfolio-sentence {
    opacity: 0;
    animation: displayThenClearText 2s ease-in var(--portfolioDelayTime) 1
        normal forwards;
    background: none;
}
#about-me-sentence {
    opacity: 0;
    animation: displayThenClearText 2s ease-in var(--aboutMeDelayTime) 1 normal
        forwards;
    padding-top: 15px;
    background: none;
}
#contact-sentence {
    opacity: 0;
    animation: displayThenClearText 2s ease-in var(--contactDelayTime) 1 normal
        forwards;
    padding-top: 16px;
    background: none;
}
.arrow-sentence {
    z-index: 3;
}
#desc-sentence {
    display: flex;
    flex-direction: row;
}
#i-love {
    opacity: 0;
    animation: displayText 5s ease-in var(--iLoveDelayTime) 1 normal forwards;
}
#making-things {
    opacity: 0;
    animation: displayText 5s ease-in var(--makingThingsDelayTime) 1 normal
        forwards;
}
#team-work {
    opacity: 0;
    animation: displayText 5s ease-in var(--teamWorkDelayTime) 1 normal forwards;
}
#self-reliant {
    opacity: 0;
    animation: displayText 5s ease-in var(--selfReliantDelayTime) 1 normal
        forwards;
}
#learning {
    opacity: 0;
    animation: displayText 5s ease-in var(--learningDelayTime) 1 normal forwards;
}
#problem-solving {
    opacity: 0;
    animation: displayText 5s ease-in var(--problemSolvingDelayTime) 1 normal
        forwards;
}
#computer-related {
    opacity: 0;
    animation: displayText 5s ease-in var(--computerRelatedDelayTime) 1 normal
        forwards;
}
#love-list {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
#except-printers {
    font-size: 11px !important;
    padding: 2px;
    padding-left: 15px;
    line-height: 6px;
    margin: 0px;
    background: none;
    opacity: 0;
    animation: displayText 5s ease-in var(--exceptPrintersDelayTime) 1 normal
        forwards;
}
.tab-explanation {
    position: fixed;
    top: 76.5vh;
    left: 125px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
@keyframes displayText {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes displayThenClearText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#portfolioPic {
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#name-to-edit {
    text-align: center;
    padding: 5px;
}
#title-to-edit {
    text-align: center;
    padding: 5px;
}
#small-screen-info {
    display: none;
    text-align: center;
    padding: 5px;
}
#large-screen-info {
    padding: 5px;
    transition: all 2s;
    position: relative;
    left: 0%;
    top: 5%;
}
#myCanvasContainer {
    justify-content: center;
    align-items: center;
    --webkid-box-pack: center;
    display: flex;
    transform: scale3d(2, 2, 2);
    opacity: 0;
    visibility: hidden;
    transition: position 2s left 2s top 2s;
}

@media screen and (max-width: 1100px) {
    #home-left {
        display: none;
    }
    #home-right {
        width: 100%;
        right: auto;
        left: auto;
        justify-content: center;
        align-content: center;
    }
    #small-screen-info {
        display: flex;
        flex-direction: column;
    }
    #large-screen-info {
        display: none;
    }
    #myCanvasContainer {
        display: flex;
        transform: scale3d(1, 1, 1);
        opacity: 1;
        position: relative !important;
        margin-top: -175px;
        visibility: visible;
    }
}

